awscli==1.10.59
boto==2.42.0
botocore==1.4.49
colorama==0.3.7
cycler==0.10.0
dj-database-url==0.4.1
Django==1.9.8
docutils==0.12
flickrapi==2.1.2
futures==3.0.5
haystack==0.36
jmespath==0.9.0
matplotlib==1.5.1
numpy==1.11.1
oauthlib==1.1.2
panda==0.3.1
pandas==0.18.1
Pillow==3.3.1
psycopg2==2.5.3
pyparsing==2.1.5
pytagcloud==0.3.5
python-dateutil==2.5.3
pytz==2016.4
requests==2.10.0
requests-oauthlib==0.6.1
requests-toolbelt==0.6.2
rsa==3.4.2
s3transfer==0.1.2
six==1.10.0
tweepy==3.5.0
twitter==1.17.1
virtualenv==15.0.3
whitenoise==3.2.1
winappdbg==1.5
wordcloud==1.2.1
