#carouselButtons {
    margin-left: 100px;
    position: absolute;
    bottom: 0px;
}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    color: #3c763d;
    text-shadow: 0 0px 0px rgba(0,0,0,.6);
}

.carousel {
  position: relative;;
}

img {
    vertical-align: middle;
    margin-left: 320px;
    /* margin-right: 211px; */
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    width: 60%;
    height: 60%;
}

.carousel-control.left {
    background-image: none;
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    background-repeat: repeat-x;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 50px;
    color: #3c763d;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}
