#carouselButtons {
    margin-left: 100px;
    position: absolute;
    bottom: 0px;
}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    text-align: left;
    margin: 7%;
    color: #337ab7;
    text-shadow: 0 0px 0px rgba(0,0,0,.6);
}

.carousel {
  position: relative;;
}

.linkButton{
  text-align: center;
  margin: 8%;
}

#learnMore{
  width: 250px;
  height: 50px;
  font-size: larger;
}

#linkOriginal{
  width: 250px;
  height: 50px;
  font-size: larger;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 21px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

b{
color: darkgreen;
}


img {
    /*vertical-align: middle;*/
    /*margin-left: 320px;*/
    /* margin-right: 211px; */
}

/*layout for details*/
div#plantMoreInfo {
    margin-left: 45%;
    margin-top: 5%;
    width: 80%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  max-width: 500px;
  max-height: 500px;
  height: auto;
  margin: auto;
}

.carousel-control.left {
    background-image: none;
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    background-repeat: repeat-x;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 50px;
    color: #3c763d;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}
