header.masthead {
    background-color: darkseagreen;
    text-align: center;
}


header h1, header h2, header h3 a, header a, header a:hover {
    color: rgba(0,0,0,.5);
    font-weight: 800;
    text-decoration: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: beige;
}

@media (min-width: 992px)

.col-md-3 {
  width: 70%;
}
