.plantMoreInfo {
  right: 10%;
}

#plantMoreInfo {
    top: 400px;
}

.subtitle {
    border-top: 1px solid #345673;
    padding-top: 16px;
    right:10%;
}

p {
    margin-left: 5cm;
}

h3 {
    margin-left: 5cm;
}

img {
  position: absolute;
  margin: auto;
  float: left;
  width: 50%;
  height: 50%;
  border-radius: 1px;
  box-shadow: 0 0 0 4px #fff;
}
