{% extends 'layout/plantResultBase.html' %}

{% block title %}PlantyPictures Search Result{% endblock %}

<!-- <div class='col-sm-8 col-sm-offset-12' id="plantTitle"> -->
{% block content %}
<!-- Carousel -->
<h2><span>Plant Gallery: <span></h2>


<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
        <div class="active item">
          <img src={{firstPost.photo_url}} />
          <div class="carousel-caption">
          <h3 class="subtitle">
            Platform</h3>
          <p> {{firstPost.platform}} </p>
          <h3 class="subtitle">
            Tags: </h3>
          <p> {{firstPost.related_tag}} </p>
          <h3 class="subtitle">
            Post date & Location: </h3>
          <p> {{firstPost.post_date}} | @{{firstPost.geo_location}}</p>
          <h3 class="subtitle">
            Post Content: </h3>
          <p class="minimize"> {{ firstPost.content }} </p>
          <p><a class="btn btn-large btn-primary" href="/plants/singlePost/?postID={{firstPost.post_id}} ">Learn more</a></p>
        </div>
        </div>
        {% for post in restPosts %}
        <div class="item">
          <img src={{post.photo_url}} />
          <div class="carousel-caption">
          <h3 class="subtitle">
            Platform</h3>
          <p> {{post.platform}} </p>
          <h3 class="subtitle">
            Tags:
          </h3>
          <p> {{post.related_tag}} </p>
          <h3 class="subtitle">
            Post date & Location: </h3>
          <p> {{post.post_date}} | @{{post.geo_location}}</p>
          <h3 class="subtitle">
            Post Content: </h3>
          <p class="minimize"> {{ post.content }} </p>
          <p><a class="btn btn-large btn-primary" href="/plants/singlePost/?postID={{post.post_id}} ">Learn more</a></p>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
{% endblock %}
<!-- LINKED NAV
<ol class="carousel-linked-nav pagination">
  <li class="active"><a href="#1">1</a></li>
  <li><a href="#2">2</a></li>
  <li><a href="#3">3</a></li>
</ol>-->

<!-- </div> -->
