{% extends 'layout/plantResultBase.html' %}

{% block title %}PlantyPictures Search Result{% endblock %}

<!-- <div class='col-sm-8 col-sm-offset-12' id="plantTitle"> -->
{% block content %}

<!-- Carousel -->
<h2><span>Plant Gallery: <span></h2>

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">

    {% for post in plantPosts %}
    <div class="active item">
        <img src={{post.photo_url}} />
        <div class="carousel-caption">
            <h1> {{post.plant.common_name}} | <i>{{post.plant.scientific_name}}</i></h1>
            <h3 class="subtitle">
              Platform</h3>
            <p> {{post.platform}} </p>
            <h3 class="subtitle">
              User name:</h3>
            <p> {{post.user_name}} </p>
            <h3 class="subtitle">
              Post_ID: </h3>
            <p> {{post.post_id}} </p>
            <h3 class="subtitle">
              Link to original post:</h3>
            <p><a href="{{post.post_link}}" target="_top"> {{post.post_link}}</a></p>
            <h3 class="subtitle">
              Tags: </h3>
            <p> {{post.related_tag}} </p>
            <h3 class="subtitle">
              Post date & Location: </h3>
            <p> {{post.post_date}} | @{{post.geo_location}}</p>
            <h3 class="subtitle">
              Post Content: </h3>
            <p class="minimize"> {{ post.content }} </p>
            <p><a class="btn btn-large btn-primary" href="/plants/singlePost/?postID={{post.post_id}} ">Learn more</a></p>
        </div>
    </div>
    {% endfor %}

    <div class="item">
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<!-- LINKED NAV
<ol class="carousel-linked-nav pagination">
  <li class="active"><a href="#1">1</a></li>
  <li><a href="#2">2</a></li>
  <li><a href="#3">3</a></li>
</ol>-->

{% endblock %}
<!-- </div> -->
