{% extends 'layout/base.html' %}
{% load static from staticfiles %}
{% block title %}Welcome to PlantyPictures{% endblock %}
{% block content %}
  <!-- <img src="{% static "images/planty_launcher.png" %}" class="app_icon"> -->


<body background="{% static "images/planty2.jpg" %}">
    <!-- <div class="inner" style="background-image: url({% static "images/planty2.jpg" %}");> -->
      <!-- <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PlantyPictures Project</a>
          <a img src="{% static "images/logo1.png" %}" class="app_icon_on_top"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="home"><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery View <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Full Plant List</a></li>
                <li><a href="#">Other options to come</a></li>
              </ul>
            </li>
            <li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </nav> -->

      <!-- title -->
<div id="logo">
    <img src="{% static "images/logo1.png" %}" class="app_icon">
    <h1> #TagYourPlants </h1>
        <!-- <h1> Planty Pictures</h1> -->
</div>

<form class="search" action="/searchResults/" method="GET" id="searchbox">
  <input type="text" name ="q" placeholder="Search here..." required>
  <button type="submit">Search</button>
</form>

<div class="row" id="gridPic">
    <h2>Most Popular Plants: </h2>
    	<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="..." class="img-rounded">
      <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="..." class="img-rounded">
      <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="..." class="img-rounded">
      <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="..." class="img-rounded">
      <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="..." class="img-rounded">
      <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="..." class="img-rounded">
</div>
    <!--
      <div class="col-md-6 col-md-offset-3">
      <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-xs-3"><a href="#"><img src="http://pbs.twimg.com/media/CnG10f9XgAE_ovO.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-3"><a href="#"><img src="https://farm2.staticflickr.com/1594/26051537276_8aa5924133.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-3"><a href="#"><img src="http://pbs.twimg.com/media/CnaSk45WcAA5qQV.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-3"><a href="#"><img src="https://farm2.staticflickr.com/1638/25742417102_85ac7b71ec.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-3"><a href="#"><img src="http://pbs.twimg.com/media/CnVCDzvW8AAK3Ol.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-3"><a href="#"><img src="https://farm9.staticflickr.com/8862/27747562143_85b2a2d4f5.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-3"><a href="#"><img src="http://pbs.twimg.com/media/CnFc6aUXYAIheWK.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-3"><a href="#"><img src="https://farm8.staticflickr.com/7369/26317482134_2c48fc75aa.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-3"><a href="#"><img src="https://farm8.staticflickr.com/7369/26317482134_2c48fc75aa.jpg" class="img-responsive"></a></div>
          </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
      </div> -->
</div>


<!-- <ul class="piclist">
  <li><img src="http://pbs.twimg.com/media/CnG10f9XgAE_ovO.jpg" /></li>
  <li><img src="http://pbs.twimg.com/media/CnaSk45WcAA5qQV.jpg" /></li>
  <li><img src="http://pbs.twimg.com/media/CnVCDzvW8AAK3Ol.jpg" /></li>
  <li><img src="http://pbs.twimg.com/media/CnFc6aUXYAIheWK.jpg" /></li>
  <li><img src="https://farm2.staticflickr.com/1594/26051537276_8aa5924133.jpg" /></li>
  <li><img src="https://farm2.staticflickr.com/1638/25742417102_85ac7b71ec.jpg" /></li>
  <li><img src="https://farm9.staticflickr.com/8862/27747562143_85b2a2d4f5.jpg" /></li>
  <li><img src="https://farm8.staticflickr.com/7369/26317482134_2c48fc75aa.jpg" /></li>
</ul> -->
{% endblock %}
