{% extends 'layout/base.html' %}
{% load static from staticfiles %}
{% block title %}Welcome to PlantyPictures{% endblock %}
{% block content %}
  <!-- <img src="{% static "images/planty_launcher.png" %}" class="app_icon"> -->

  <form class="search" action="/searchResults/" method="GET">
  <input type="text" name ="q" placeholder="Search here..." required>
  <button type="submit">Search</button>
</form>

  <!-- <form action ="/searchResults/" method="GET">
    <input type="text" name="q">
    <button id ="searchbutton" type="Search!"> Search </button>
  </form> -->

<ul class="piclist">
  <li><img src="http://pbs.twimg.com/media/CnG10f9XgAE_ovO.jpg" /></li>
  <li><img src="http://pbs.twimg.com/media/CnaSk45WcAA5qQV.jpg" /></li>
  <li><img src="http://pbs.twimg.com/media/CnVCDzvW8AAK3Ol.jpg" /></li>
  <li><img src="http://pbs.twimg.com/media/CnFc6aUXYAIheWK.jpg" /></li>
  <li><img src="https://farm2.staticflickr.com/1594/26051537276_8aa5924133.jpg" /></li>
  <li><img src="https://farm2.staticflickr.com/1638/25742417102_85ac7b71ec.jpg" /></li>
  <li><img src="https://farm9.staticflickr.com/8862/27747562143_85b2a2d4f5.jpg" /></li>
  <li><img src="https://farm8.staticflickr.com/7369/26317482134_2c48fc75aa.jpg" /></li>
</ul>
{% endblock %}
