{% extends 'layout/plantResultBase.html' %}
{% load tagList %}

{% block title %}PlantyPictures Search Result{% endblock %}

<div class='col-sm-8 col-sm-offset-12' id="plantTitle">
{% block content %}

<h2><span>Plant Gallery Of <b>{{firstPost.plant.common_name}} | <i>{{firstPost.plant.scientific_name}}</i></b><span></h2>

  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">

          <div class="active item">
            <img src={{firstPost.photo_url}} />
            <div class="carousel-caption">
            <h3 class="subtitle">
              <b>Platform: </b>  {{firstPost.platform}} </h3>
            <h3 class="subtitle">
              <b>Tags: </b>
              {% if firstPost.related_tag %}
                {% for tag in firstPost.related_tag|tagSet %}
                  {% if tag != "" %}
                    <a class="glyphicon glyphicon-tag" href="/plants/tagResult/?tag={{tag}}">{{tag}}</a>
                  {% endif %}
                {% endfor %}
              {% else %}
                No tag for this post
              {% endif %}
            </h3>
            <h3 class="subtitle">
              <b>Post date: </b>  {{firstPost.post_date}} </h3>
            <h3 class="subtitle">
              <b>Geo Location: </b>
                  {% if firstPost.geo_location %}
                    @{{firstPost.geo_location}}</h3>
                  {%else%}
                    No Location Data Attached</h3>
                  {%endif%}
            <h3 class="subtitle">
              <b>Post Content: </b>
            <p class="minimize"> {{ firstPost.content }} </p>
            </h3>
            <p class="linkButton">
              <a class="btn btn-large btn-primary" id="learnMore" href="/plants/singlePost/?postID={{firstPost.post_id}} ">Learn more</a>
              <a class="btn btn-large btn-primary" id="linkOriginal" href= {{firstPost.post_link}}> Link to Original Post</a>
            </p>
          </div>
          </div>

          {% for post in restPosts %}
          <div class="item">
            <img src={{post.photo_url}} />
            <div class="carousel-caption">
            <h3 class="subtitle">
              <b>Platform: </b>  {{post.platform}} </h3>
            <h3 class="subtitle">
              <b>Tags: </b>
              {% if post.related_tag %}
                {% for tag in post.related_tag|tagSet %}
                  {% if tag != "" %}
                    <a class="glyphicon glyphicon-tag" href="/plants/tagResult/?tag={{tag}}">{{tag}}</a>
                  {% endif %}
                {% endfor %}
              {% else %}
                No tag for this post
              {% endif %}
              </h3>
            <h3 class="subtitle">
              <b>Post date: </b>  {{post.post_date}} </h3>
            <h3 class="subtitle">
              <b>Geo Location: </b>
                  {% if post.geo_location %}
                    {{post.geo_location}}</h3>
                  {%else%}
                    No Location Data Attached</h3>
                  {%endif%}
            <h3 class="subtitle">
              <b>Post Content: </b>
            <p class="minimize"> {{ post.content }} </p>
            </h3>
            <p class="linkButton">
              <a class="btn btn-large btn-primary" id="learnMore" href="/plants/singlePost/?postID={{firstPost.post_id}} ">Learn more</a>
              <a class="btn btn-large btn-primary" id="linkOriginal" href= {{firstPost.post_link}}> Link to Original Post</a>
            </p>
          </div>
      </div>
      {% endfor %}
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>

{% endblock %}
