{% extends 'layout/resultListBase.html' %}

{% block title %}PlantyPictures Search Result{% endblock %}

{% block content %}
	<div class="col-md-9 bd-content">
	<h1 class="bd-title" id="content">Search Results</h1>
	{% for r in coverItem %}
	<div class ="row">
			<div class ="col-sm-12">
				<div class="thumbnail">
					<img id="thumbnailCover" src= {{r.photo_url}} style="max-height: 200px; max-width: 200px; float:left" class="img-rounded">
					<div class="caption">
						<h2>{{r.plant.plant_id}}: {{r.plant.common_name}} | {{r.plant.scientific_name}} </h3>
						{% if r.plant.ca_native == "FALSE" %}
						 	  <p>California Native Plant</p>
						{% else %}
								<p>Non-Native Plant</p>
						{% endif %}
						<p><a href="/plants/plantResults?q={{r.plant.plant_id}} " class="btn btn-primary" role="button">View</a></p>
					</div>
				</div>
			</div>
	</div>
	{% endfor %}

{% endblock %}
<!--
<!-- <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
<div class='.col-md-8' id="eachPlant">
	{% for r in coverItem %}
	<div class ="row">
			<div class ="col-sm-12">
				<div class="thumbnail">
					<img id="thumbnailCover" src= {{r.photo_url}} style="max-height: 150px; max-width: 150px; float:left" alt="{{ r.plant.scientific_name }}" class="img-rounded">
					<div class="caption">
						<h3>{{r.plant.plant_id}}: {{r.plant.common_name}} | {{r.plant.scientific_name}} </h3>
						<p> Show the number and native or not here </p>
						<p><a href="/plants/plantResults?q={{r.plant.plant_id}} " class="btn btn-primary" role="button">View</a></p>
	      	</div>
	    	</div>
	  	</div>
	</div>
	{% endfor %}
</div> -->
