{% extends 'layout/plantResultBase.html' %}
{% load static from staticfiles %}
{% block title %}PlantyPictures Search Result{% endblock %}

<!-- <div class='col-sm-8 col-sm-offset-12' id="plantTitle"> -->
{% block content %}

<!-- Carousel -->
{% for post in singlePost %}
<h2 id="plantTitle" style="margin-left: -8%;"> {{post.plant.common_name}} | <i>{{post.plant.scientific_name}} </i></h2>
  <div class='col-md-4' id='plantPic'>
    <a href={{post.photo_url}}>
      <img src={{post.photo_url}} style="max-height: 500px; max-width: 500px;margin-top:15%;margin-left: -30%;">
    </a>
  </div>

  <div class='col-sm-4' id='votingBtn'>
    <p> Is this post helpful?
    <div class="vote-container">
        <form action="/upvote/{{post.post_id}}" method="GET" id="votebtn">
          <div>
            <button type="submit" id="testBtn" class="btn btn-success glyphicon glyphicon-thumbs-up" data-loading-text=" ... "> </button>
          </div>
        </form>
        <form action="/downvote/{{post.post_id}}" method="GET" id="votebtn">
          <div>
            <button type="submit" id="testBtn" class="btn btn-success glyphicon glyphicon-thumbs-down" data-loading-text=" ... "> </button>
          </div>
        </form>
    </div>
    </p>
  </div>
  <!-- <a href="/upvote/{{post.post_id}}">UP</a> -->

  <div class='.col-md-8' id="plantMoreInfo">
			<h3><b>Platform</b></h3>
			<p> {{post.platform}} </p>
      <h3 class="subtitle"><b>Tags in this post:</b></h3>
      {% for tag in tag_list %}
        {% if tag != "" %}
            <a class="glyphicon glyphicon-tag" href="/plants/tagResult/?tag={{tag}}">{{tag}}</a>
        {% endif %}
      {% endfor %}
			<h3 class="subtitle"> <b>User name:</b></h3>
        <p>{{post.user_name}} </p>
			<h3 class="subtitle"><b>Post_ID:</b></h3>
        <p>{{post.post_id}} </p>
			<h3 class="subtitle"><b>Link to original post:</b> </h3>
        <p><a href="{{post.post_link}}" target="_top"> {{post.post_link}}</a></p>
			<!-- <p> {{post.related_tag}} </p> -->
			<h3 class="subtitle"><b>Post date</b></h3>
        <p> {{post.post_date}}</p>
      <h3 class="subtitle"><b>Location:</b></h3>
          <p>
          {% if post.geo_location %}
            @{{post.geo_location}}</p>
          {%else%}
            No Location Data Attached</p>
          {%endif%}
			<h3 class="subtitle"> <b>Post Content:</b> </h3>
			<p class="minimize"> {{ post.content }} </p>
	</div>
  {% endfor %}

  <script src="{% static "js/voting.js" %}">
    var cnt = "{{post.score}}"
  </script>

  {% endblock %}
<!-- LINKED NAV
<ol class="carousel-linked-nav pagination">
  <li class="active"><a href="#1">1</a></li>
  <li><a href="#2">2</a></li>
  <li><a href="#3">3</a></li>
</ol>-->

<!-- </div> -->
