
{% extends 'layout/resultListBaseAlt.html' %}

{% block title %}PlantyPictures Search Result{% endblock %}

{% block content %}

<h1 class="bd-title" id="content">All the Posts With Tag <b>"{{query}}"</b> </h1>

<div class="thumbnailrow">
		{% for r in postResult %}
		<div class="col-md-6 col-md-3">
				<div class="tagthumbnail">
						<img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 200px;" src= {{r.photo_url}}>
						<div class="caption">
						<h2>{{r.plant.common_name}} | {{r.plant.scientific_name}} </h3>
						<p class="minimize"> {{r.related_tag}} </p>
						<p><a href="/plants/singlePost/?postID={{r.post_id}} " class="btn btn-primary" role="button">View</a></p>
            </div>
        </div>
    </div>
		{% endfor %}

		<div class="pagination">
			<span class="step-links">
				{% if postResult.has_previous %}
					<a href="?tag={{query}}&&page={{ postResult.previous_page_number }}">previous</a>
				{% endif %}
			<span class="current">
					Page {{ postResult.number }} of {{ postResult.paginator.num_pages }}.
			</span>
			{% if postResult.has_next %}
					<a href="?tag={{query}}&&page={{ postResult.next_page_number }}">next</a>
			{% endif %}
			</span>
		</div>
</div>
{% endblock %}
