{% extends 'layout/resultListBase.html' %}

{% block title %}PlantyPictures Search Result{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-9 pull-md-3 bd-content">
<h1 class="bd-title" id="content">Post attached "{{query}}"</h1>

{% for r in postResult %}
<div class ="row">
		<div class ="col-sm-12">
			<div class="thumbnail">
				<img id="thumbnailCover" src= {{r.photo_url}} style="max-height: 200px; max-width: 200px; float:left" class="img-rounded">
				<div class="caption">
					<h2>{{r.plant.common_name}} | {{r.plant.scientific_name}} </h3>
					<p class="minimize"> {{r.related_tag}} </p>



					<p><a href="/plants/singlePost/?postID={{r.post_id}} " class="btn btn-primary" role="button">View</a></p>
				</div>
			</div>
		</div>
</div>
{% endfor %}

<div class="pagination">
	<span class="step-links">
			{% if postResult.has_previous %}
					<a href="?tag={{query}}&&page={{ postResult.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
					Page {{ postResult.number }} of {{ postResult.paginator.num_pages }}.
			</span>

			{% if postResult.has_next %}
					<a href="?tag={{query}}&&page={{ postResult.next_page_number }}">next</a>
			{% endif %}
	</span>

</div>

{% endblock %}
